body {
}

header {
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    background-color: aquamarine;
    width: 100%;
    padding: 10px;
}

.header-nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
}

.title {
    padding-top: 50px;
}

a img {
    width: 30px;
}

.perfil {
    height: 280px;
    padding: 10px;
}

.imagecontainer {
    height: 300px;
}

ol a:hover {
    font-weight: bold;
}

div img {
    width: 200px;
    padding: 5px;
}
