body {
    background-color: rgb(234, 226, 183);
}
h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    border: 3px solid rgb(252, 191, 73);
    color: rgb(247, 127, 0);
}
h2 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    font-size: 35px;
    color: rgb(0, 48, 73);
}
h3 {
    color: rgb(214, 40, 40);
    font-style: italic;
    font-size: 30px;
    border: 3px solid rgb(252, 191, 73);
    font-family: 'Noto Sans JP', sans-serif;
}
.text {
    color: rgb(0, 48, 73);
    font-size: 18px;
    font-family: 'Noto Sans JP', sans-serif;
}
span {
    font-weight: bold;
}
img {
    border: 3px solid rgb(0, 48, 73);
    border-radius: 10%;
}
a img {
    width: 30px;
}







